body{background-color: rgb(177, 232, 253);}
th, td{border: 1px solid black;}
tfoot{background-color: blueviolet;}
#identificador{ background-color: rgb(248, 199, 236);}
p{font-weight:  ; margin: 20px 25px 30px 35px; padding: 10px; background-color: rgb(188, 245, 245);border: 1px solid rgb(1, 18, 71)}
.classe{color: #f834de;}
.destaque{border:2px solid #f834de}
.linksinternos{background-color: rgb(170, 243, 219);}
.destaque2{font: 20px; background-color: #42f3b8;}
.pai{background-color: #9e4afd; margin: 30px; padding: 20px; font-size: 4rem;   }
.filho{background-color: #42f3b8;margin: 2%; padding: 1.5em; width: 50%; font-size: 0.5em;}
